#landing-image {
	/* background: url('img/background.jpg'); */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#landing-text h1 {
	color: white;
}

#landing-text h4 {
	color: #b8b8b8;
}